body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  background: var(--color-gray-1);
  overflow: auto;
  font-size: var(--font-size-1);

}
