body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-1);
  font-weight: 300;
}

input, button, textarea, select {
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  background: var(--color-gray-1);
  overflow: auto;
  font-size: var(--font-size-1);

}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1)
}


.col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1)
}